body {
	font-family:Arial,Helvetica,sans-serif;
}

h1,h2,h3{
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
}

h1{
	background-color:#123456;
	color:#FFFFFF;
}

h2,h3{
	background-color:#83d8c9;
	color:#000000;
}

p, li {
	font-size:14px;
	line-height:15px;
	overflow: hidden;
}
li{
	margin-left:10px;
	padding-top:5px;
	padding-left:0px;
	padding-bottom:10px;
}
ul
{
	margin-left:0px;
	padding-left:0px;
    list-style-type: none;
}

input {
	padding-left:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.1);
    -moz-box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.1);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.1);
}

input:focus {
	    outline:0;
	    border:1px solid #95D2DF;
	    -webkit-box-shadow: 0 0 5px 4px rgba(36,184,194, 0.10);
	    -moz-box-shadow: 0 0 5px 4px rgba(36,184,194, 0.10);
	    box-shadow: 0 0 5px 4px rgba(36,184,194, 0.10);
}

#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 440px;
    left: 50%;
    margin: -220px 0 0 -360px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 620px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}

#modal-content label{
	width:100px;
	float:left;
}

#modal-content input{
	width:160px;
	float:left;
}


#modal-footer{
	clear:left;
	padding-top:50px;
	text-align:right;
}

.ziel_name{
	display:inline-block;
	width:237px;
}
li.schnitzeljagd {
	border-bottom: 1px solid #cccccc;
	margin-top:10px;
	margin-bottom: 10px;
}
li.schnitzeljagd:last-child{
	border-style:none;
}

a.toggle_ziele{
	display:inline-block;
	width: 10px;
	text-decoration:none;
	color: #000000;
}

a.toggle_ziele:visited{
	color: #000000;
}
.id_text{
	width:15px;
	display:inline-block;
	text-align:right;
}​